body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 56vw;
    background: linear-gradient(-233deg, #000 30%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: fadeIn;
    animation-duration: 2s;
    animation: fadeBackground;
    animation-duration: 1.25s;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;

    animation: fadeInDown;
    animation-duration: 1.25s;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;

    animation: fadeInLeft;
    animation-duration: 1.25s;
}

.conteudo .logo-1{
    background-image: url("../imagens/title-tobey.png");
    background-size: cover;
    width: 380px;
    height: 105px;
    margin-bottom: 35px;   

    animation: fadeIn;
    animation-duration: 3s;
}

.conteudo .logo-2{
    background-image: url("../imagens/title-andrew.png");
    background-size: cover;
    width: 380px;
    height: 67px;
    margin-bottom: 35px; 

    animation: fadeIn;
    animation-duration: 3s;
}

.conteudo .logo-3{
    background-image: url("../imagens/title-tom.png");
    background-size: cover;
    width: 380px;
    height: 57px;
    margin-bottom: 35px;

    animation: fadeIn;
    animation-duration: 3s;
}

.conteudo .logo-4{
    background-image: url("../imagens/title-ps4.png");
    background-size: cover;
    width: 380px;
    height: 125px;
    margin-bottom: 35px;

    animation: fadeIn;
    animation-duration: 3s;
}

.conteudo .logo-5{
    background-image: url("../imagens/title-miles.png");
    background-size: cover;
    width: 480px;
    height: 125px;
    margin-bottom: 35px;

    animation: fadeIn;
    animation-duration: 3s;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%; 
    transition: 0.2s all ease-in-out;
}

.botoes .botao:hover {
    transform: scale(1.1)
}

.botoes .botao img {
    border-radius: 50%;
    width: 100px;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px red;
    transition: 0.2s all ease-in-out;
}

.botoes .botao.selecionado:hover {
    transform: scale(1.3)
}

.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral .icone{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;

    animation: fadeIn;
    animation-duration: 3s;
}

.menu-lateral .icone:hover{
    transform: scale(1.2);
}
